src/main/mule/achieving-CICD.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="f1280697-c7f0-4e37-a960-ad2fa999a79a" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="achieveing_ci-cdFlow" doc:id="e926d80f-340f-49e6-9033-21064c3a4a35" >
		<http:listener doc:name="Listener" doc:id="ad495409-397b-4f19-a6b2-0c3805f7cde8" config-ref="HTTP_Listener_config" path="/cicd"/>
		<set-payload value='#["cicd implementation"]' doc:name="Set Payload" doc:id="5a5aa172-4514-46c6-8c8e-9f883f66e244" />
	</flow>
</mule>
